---
import { type CollectionEntry, getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import { formatDate } from '@/utils/formatDate'
import { css, cx } from '#/styled-system/css'
import { prose, article } from '#/styled-system/recipes'

export async function getStaticPaths() {
  const articles = await getCollection('articles')

  return articles.map((item) => ({
    params: { slug: item.slug },
    props: { post: item },
  }))
}

type Props = {
  post: CollectionEntry<'articles'>
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout
  content
  title={post.data.title}
  description={post.data.description}
  canonical={`${import.meta.env.SITE}${post.slug}/`}
  publishedTime={post.data.publishedAt.toISOString()}
  openGraph={{
    image: {
      url: `${import.meta.env.SITE}${post.slug}/og.png`,
    },
  } as any}
>
  <article>
    <header role="navigation">
      <a
        class={css({
          textDecoration: 'underline',
          _hover: { color: 'sky.100' },
        })}
        href="/">Home</a
      >
    </header>
    <main class={cx(prose(), article())}>
      <header role="presentation">
        <time datetime={post.data.publishedAt.toISOString()}>
          {formatDate(post.data.publishedAt)}
        </time>
        <h1>
          {post.data.title}
        </h1>
        <p class={css({ fontStyle: 'italic' })}>{post.data.description}</p>
      </header>

      <Content />
    </main>
  </article>
  <style is:global>
    .group:hover a {
      opacity: 1;
    }
  </style>
</Layout>
