---
import ProjectCard from '@/components/project-card'
import SocialLinks from '@/components/social-links'
import Link from '@/components/ui/link'
import Layout from '@/layouts/layout.astro'
import { getCollection } from 'astro:content'

import { css } from '#/styled-system/css'
import PostSection from '@/components/post-section'
import { presentation } from '@/data/presentation'
import { projects } from '@/data/projects'

function convertAsteriskToStrongTag(str: string) {
  return str
    .replace(
      '[Panda CSS]',
      `<strong class="${css({
        color: {
          base: 'yellow.400',
          _dark: 'yellow.300',
        },
        textShadow: '0 0 rgb(0 0 0 / 27%)',
      })}"><a target="_blank" href="https://panda-css.com/">Panda CSS</a></strong>`
    )
    .replace(
      /\*{1,2}(.*?)\*{1,2}/g,
      `<strong class="${css({
        color: {
          base: 'sky.600',
          _dark: 'sky.50',
        },
      })}">$1</strong>`
    )
    .replace('\n', '<br />')
}

const articles = (await getCollection('articles', (entry) => entry.data.isPublish)).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime()
})
---

<Layout>
  <main class={css({ display: 'flex', flexDir: 'column', gap: '12' })}>
    <article
      class={css({
        display: 'flex',
        flexDir: 'column',
        gap: '8',
        md: { flexDir: 'row-reverse', justifyContent: 'flex-end', gap: '12' },
      })}
    >
      {
        presentation.profile && (
          <img src={presentation.profile} class={css({ w: '1/4', alignSelf: 'center', rounded: 'full' })} />
        )
      }

      <div class={css({ display: 'flex', flexDir: 'column', gap: '6' })}>
        <h1 class={css({ textStyle: '3xl', color: 'fg.heading' })}>
          {presentation.title}
        </h1>

        <h2
          class={css({
            w: 'auto',
            maxW: '60ch',
            lineHeight: 'normal',
            textStyle: 'md',
            color: {
              _light: 'fg.body',
            },
          })}
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />

        <SocialLinks />
      </div>
    </article>

    <PostSection articles={articles} />

    <article class={css({ display: 'flex', flexDir: 'column', gap: '4' })}>
      <header class={css({ display: 'flex', w: 'full', flexDir: 'row', justifyContent: 'space-between' })}>
        <h3 class={css({ textStyle: 'lg', color: 'fg.heading' })}>Featured opensource projects</h3>
      </header>

      <section class={css({ display: 'flex', flexDir: 'column', gap: '4' })}>
        {projects.length !== 0 && projects.map((project) => <ProjectCard {...project} />)}
      </section>
    </article>

    <article class={css({ display: 'flex', flexDir: 'column', gap: '4' })}>
      <header class={css({ display: 'flex', w: 'full', flexDir: 'row', justifyContent: 'space-between', gap: '2' })}>
        <h3 class={css({ textStyle: 'lg', color: 'fg.heading' })}>Get in touch</h3>
      </header>
      <p>
        Email me at <Link href={`mailto:${presentation.mail}`} label={presentation.mail} /> or DM me using my social links.
      </p>
      <p>
        This website is built with <Link href="https://astro.build/" label="Astro" /> and{' '}
        <Link href="https://panda-css.com/" label="Panda CSS" />.
        <Link href="https://github.com/astahmer/astahmer.dev" label="Source code is available on Github" />.
      </p>

      <SocialLinks />
    </article>
  </main>
</Layout>
