---
import { type CollectionEntry, getCollection } from 'astro:content'
import Layout from '@/layouts/layout.astro'
import { formatDate } from '@/utils/format-date'
import { css, cx } from '#/styled-system/css'
import { prose, article } from '#/styled-system/recipes'
import Header from '@/components/header.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts')

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

type Props = {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout
  content
  title={post.data.title}
  description={post.data.description}
  canonical={`${import.meta.env.SITE}${post.slug}/`}
  publishedTime={post.data.publishedAt.toISOString()}
  openGraph={{
    image: {
      url: `${import.meta.env.SITE}${post.slug}/og.png`,
    },
  } as any}
>
  <article>
    <Header />
    <main class={cx(prose(), article())}>
      <header role="presentation">
        <time datetime={post.data.publishedAt.toISOString()}>
          {formatDate(post.data.publishedAt)}
        </time>
        <h1>
          {post.data.title}
        </h1>
        <p class={css({ fontStyle: 'italic' })}>{post.data.description}</p>
      </header>

      <Content />
    </main>
  </article>
</Layout>

<style is:global>
  .group:hover a {
    opacity: 1;
  }
</style>
